@model IEnumerable<RRInventory.Models.InventoryViewModels.ItemTypeGroup>

@{
    ViewData["Title"] = "Item Type Statistics";
}

<h2>Item Type Statistics</h2>

<table>
    <tr>
        <th>
            Item Type
        </th>
        <th>
            Count
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td>
                @item.ItemCount
            </td>
        </tr>
    }
</table>