<div class="jumbotron">
    <h1>RR Inventory</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to RR Inventory</h2>
        <p>
            Using Entity Framework Core in an ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Foo Foo</h2>
    </div>
</div>